packages:
  yum:
    gcc: []
    gcc-c++: []
    make: []
    libjpeg-turbo-devel: []
    zlib-devel: []
    freetype-devel: []
    lcms2-devel: []
    libwebp-devel: []
    tcl-devel: []
    tk-devel: []
    harfbuzz-devel: []
    fribidi-devel: []
    libimagequant-devel: []
    libXext-devel: []
    libXrender-devel: []
    libXt-devel: []